.paramSchemaDefinition {
  h4 {
    display: flex;
    align-items: center;
    
    .anchor {
      margin-right: 3px;
    }
  }
  
  .tabList {
    margin: 24px 0;
    border-bottom: 1px solid var(--grey-3);
  }

  .badge {
    margin-left: 5px;

    &::after {
      display: none;
    }
  }
}
