@import "/src/styles/index";
@import "/src/styles/animations.module";


.apiDetail {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.60);
	animation: fadeIn .5s;
}

.spinner {
	height: 100%;
}

.container {
	box-sizing: border-box;
	position: relative;
	max-width: 38rem;
	width: 90%;
	height: 100%;
	margin-left: auto;
	padding: 2rem;
	background: white;
	box-shadow: 0 0 2rem rgba(0, 0, 0, .25);

	p {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.labelRow {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;

		h1 {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 2rem;
		}

		a {
			height: 1rem;
		}
	}

	.divider {
		margin: .25rem 0 .5rem;
	}

	.metadataRow {
		display: flex;
		align-items: center;
		margin-bottom: 1.5rem;

		svg {
			height: .5rem;
			margin: 0 .75rem;
		}
	}

	.tabsContainer {
		margin: 1rem -0.625rem 1.25rem;
	}

	label {
		display: block;
		margin-bottom: 0.25rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.dropdown {
		margin: 1rem 0 1.5rem;

		&>button {
			display: block;
			margin-top: 0.5rem;
			font-size: 0.75rem;
			font-weight: 600;
			line-height: 1rem;
			color: $blue;

			&:hover {
				text-decoration: underline;
			}

			&:disabled {
				color: black;
				pointer-events: none;
			}

			svg {
				margin-right: .375rem;
				vertical-align: middle;
			}
		}
	}
}

.options {
	.option {
		display: flex;
	}

	.optionInfo {
		display: flex;
		flex-direction: column;
		align-items: baseline;
		margin-left: 1rem;
	}

	.title {
		display: flex;

		.link {
			display: flex;
			align-items: center;
			margin-left: 1rem;

			svg {
				margin-left: .25rem;
			}
		}
	}

	.description {
		margin-top: .5rem;
		color: $gray;
	}

	.buttonsWrapper {
		display: flex;

		button {
			margin-top: 1.25rem;

			&:first-of-type {
				margin-right: 1.25rem;
			}
		}
	}

	.divider {
		margin: 1rem 0;
	}
}

.about {
	.caption {
		display: block;
		margin-top: 1.5rem;
	}

	.link {
		display: flex;
		align-items: center;
		margin-top: .5rem;

		svg {
			margin-left: .25rem;
		}
	}
}