@use '@/styles/screen';

.apiInfoOptions {
  padding: 20px 0;

  .section {
    h3 {
      display: flex;
      align-items: center;
      margin-top: 0;
      font-size: 1rem;
      gap: 16px;
      
      @include screen.small {
        flex-direction: column;
        align-items: flex-start;
      }

      img {
        max-height: 20px;
      }
      
      .panelLabel,
      .linkGroup {
        display: inline-flex;
        align-items: center;
        gap: 16px;
      }

      .link {
        svg {
          margin-bottom: -2px;
        }
      }
    }
    
    p, h4 {
      padding-left: 40px;
    }

    h4 {
      margin-bottom: 0.5rem;
    }
    
    p {
      color: var(--grey-4);

      &.buttonGroup {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
      }

      .actionButton {
        :global(.fui-Button__icon) img {
          width: 16px;
          height: 16px;
        }
      }
    }

    + .section {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid var(--grey-2);
    }
  }
}
