.apiInfoOptions {
  padding: 20px 0;

  .section {
    h5 {
      display: flex;
      align-items: center;
      margin-top: 0;
      gap: 16px;

      img {
        max-height: 20px;
      }

      .link {
        svg {
          top: 1px;
        }
      }
    }

    p {
      padding-left: 40px;
      color: var(--grey-4);
    }

    + .section {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid var(--grey-2);
    }
  }
}
