@use '@/styles/screen';

.apiInfoOptions {
  padding: 20px 0;

  .section {
    h5 {
      display: flex;
      align-items: center;
      margin-top: 0;
      gap: 16px;
      
      @include screen.small {
        flex-direction: column;
        align-items: flex-start;
      }

      img {
        max-height: 20px;
      }
      
      .panelLabel,
      .linkGroup {
        display: inline-flex;
        align-items: center;
        gap: 16px;
      }

      .link {
        svg {
          margin-bottom: -2px;
        }
      }
    }

    p {
      padding-left: 40px;
      color: var(--grey-4);
    }

    + .section {
      margin-top: 16px;
      padding-top: 16px;
      border-top: 1px solid var(--grey-2);
    }
  }
}
