.activeFiltersBadges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .filterBadge {
    padding: 5px 12px;
    border: solid 1px var(--colorNeutralStroke1);
    border-radius: var(--radius-m);
    font-size: 14px;

    button {
      top: 1px;
      margin-left: 4px;
    }
  }

  .clearBtn {
    color: var(--colorNeutralForeground2);
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
  }
}
