.filters {
	min-width: 16rem;

	h3 {
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.375rem;
		/* 137.5% */
	}

	&>h3 {
		margin: 0 0 0.5rem; /* Reduced margin from .5rem 0 1rem to 0 0 0.5rem */
	}

	.accordion {
		margin-left: calc(-1 * var(--spacingHorizontalM));
	}

	.divider {
		margin: 1rem 0;
	}
}