.apiDefinitionSelect {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .selectionDropdown {
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: 600;
    }
    
    .dropdown {
      background: var(--grey-0);
    }
  }
  
  &.isInline {
    flex-direction: row;
    gap: 32px;
    
    .selectionDropdown {
      label {
        margin-bottom: 8px;
      }

      .dropdown {
        min-width: 175px;
      }
    }
  }
}
