.apiDefinitionSelect {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .selectionDropdown {
    .dropdown {
      background: var(--colorNeutralBackground1);
    }
  }
  
  &.isInline {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    
    .selectionDropdown {
      .dropdown {
        min-width: 175px;
      }
    }
  }
}
