.home {
    .searchPanel {
        padding: 3.125rem 3.125rem 4rem;
        background: linear-gradient(45deg, hsla(204, 65%, 71%, 1) 0%, hsla(273, 34%, 75%, 1) 43%, hsla(358, 43%, 75%, 1) 57%, hsla(43, 96%, 63%, 1) 100%);
        color: white;
        text-align: center;

        h1 {
            margin: 0 0 1rem;
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 3.25rem;
        }
    }

    .content {
        display: flex;
        padding: 2rem;
        gap: 2rem;

        .filters {
            min-width: 250px;

            h3 {
                font-size: 1rem;
                font-weight: 600;
                line-height: 22px;
            }

            & > h3 {
                margin: 0.5rem 0 1rem;
            }
        }

        .mainContent {
            width: 100%;

            .emptyState {
                text-align: center;
                color: var(--grey-4);

                img {
                    display: block;
                    margin: 32px auto;
                }
            }

            .infoRow {
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                margin-bottom: 16px;

                .sort {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    strong {
                        font-weight: 600;
                    }
                }
            }

            .activeFilters {
                margin: 16px 0;
            }
        }
    }
}