.apiSpec {
  display: flex;
  flex-direction: column;

  .spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header {
    padding: 24px 32px;
    background: var(--grey-6);
    color: var(--grey-0);
    
    h1 {
      margin: 0 0 28px;
    }
  }
  
  .content {
    display: flex;
    flex: 1;
    justify-content: stretch;

    .operationsList {
      box-sizing: border-box;
      width: 335px;
      padding: 32px 32px 32px 0;
      border-right: 1px solid var(--grey-2);
      
      h4 {
        margin: 0 0 14px;
      }
    }
    
    .details {
      flex: 1;
      padding: 24px;
    }
  }
}
