.header {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 14px 32px;
  border-bottom: 1px solid var(--grey-3);

  .logo {
    display: flex;
    align-items: center;
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  .navLinks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 34px;
    padding-right: 34px;
    border-right: 1px solid var(--grey-6);
    gap: 16px;
  }
}
