.header {
    display: flex;
    width: calc(100% - 4rem);
    max-width: 100rem;
    min-height: 3.75rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0 auto;

    .logo {
        display: flex;
        align-items: center;
    }

    .headerRight {
        display: flex;
        align-items: center;
    }

    .headerLinks {
        a {
            margin: 0 .5rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .signupButtonWrapper {
        padding-left: 1.5rem;
        border-left: 1px solid;
        margin-left: 1.5rem;
    }
}