.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  gap: 1.5rem;
  box-sizing: border-box;
}

.loadMore {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
