.apiAuthForm {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .spinner {
    height: 58px;
  }

  .error {
    color: var(--colorPaletteRedForeground1);
  }

  .status {
    color: var(--colorNeutralForeground4);
  }
}
