@import "/src/styles";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #E6E6E6;
    
    .footerTop ,
    .footerBottom {
        max-width: 100rem;
        width: calc(100% - 4rem);
        margin: 0 auto;
        padding: 0 2rem;
        display: flex;
        align-items: center;
    }
    
    .footerTop {
        height: 4.75rem;
        justify-content: space-between;
    }

    .footerBottom {
        height: 3.5rem;
        justify-content: center;

        .copyright,
        .link {
            color: #707070;
        }
        
        .link {
            padding-left: 2.75rem;
        }
    }
}