.semanticSearchInfo {
  margin-top: 8px;

  .infoBlock {
    position: relative;
    width: 325px;
    margin: auto;
    padding: 10px;
    background: var(--grey-0);
    box-shadow: 0 1.2px 3.6px 0 #0000001C, 0 6.4px 14.4px 0 #0002;
    color: var(--grey-7);
    font-size: 13px;
    line-height: 18px;
    text-align: left;

    h6 {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0 0 5px;
      font-size: inherit;
      font-weight: 600;
      
      .icon {
        color: var(--blue-3);
      }
    }
    
    p {
      margin: 0;
    }
    
    .dismissBtn {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
