:root {
    --blue: #115EA3;
    --blue-light: #0F6CBD;
    --blue-btn: #6387E3;
    --grey-5: #616161;
    --grey-4: #242424;
    --grey-3: #D1D1D1;
    --grey-2: #E6E6E6;
    --grey-1: #F3F2F1;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    position: relative;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-size: 1rem;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.aui-root {
    max-width: 1460px;
    margin: 0 auto;
}
