.authPanel {
  width: 400px;
  margin: 32px auto;
  padding: 32px;
  border: 1px solid var(--colorNeutralStroke1);
  border-radius: var(--radius-m);
  box-shadow: 3px 3px 5px var(--colorNeutralBackground3);
}
